.all-navbar{
    background-color: white;
} 
.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    gap: 20px;
    background-color: white;
    color: black;
}

.location-section{
    display: flex;
    align-items: center;
}

.location{
    width:50px;
    height:auto;
}

.location-item{
    text-align: left;
}

.deliver-to{
    font-weight: lighter;
    font-size: 10px;
}
.country{
    font-weight: bold;
    font-size: 15px;
}

.menu{
    width:50px;
    height:auto;
}
.logo {
    width: 100px;
    height: auto;
}
  
.search-bar {
    display: flex;
    align-items: center;
    width: 500px;
    height: 30px;
}

.search-bar input{
    border: 0px;
    border-radius: 10px; 
    background-color: lightpink;
    width: 100%;
    height: 100%;
    margin-right: -40px;
}

.search-img {
    width: 15px; 
    height: auto;
}

.search-btn{
    width: 10%;
    height: 32px;
    border: 1px;
    border-radius: 20px;
    background-color: #b5d4e8;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.bell{
    border: 1px solid black;
    padding: 3px;
    width: 20px;
    height: auto;
    border-radius: 30px;
}

.flag{
    border: 1px solid black;
    padding: 3px;
    width: 20px;
    height: auto;
    border-radius: 30px;
}

.switch{

    position:relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

.slider{
    position:absolute;
    cursor:pointer;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: #d3d3d3;
    transition: 0.4s;
    border: 2px solid black;
    border-radius: 34px;
}

.switch input{display:none}

.slider::before{
    position: absolute;
    content:"";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom:4px;
    background-color: white;
    transition:0.4s;
    border-radius:50px;
}

.light-mode{
    width:40%;
    height:auto;
    position: absolute;
    left:30px;
    top:2px;
    transition:0.4s;
    opacity: 1;
}

.dark-mode{
    width:40%;
    height:auto;
    position: absolute;
    right:30px;
    top:2px;
    opacity: 0;
}

input:checked + .slider::before{
    transform: translateX(30px);
}
input:checked + .slider .light-mode {
    opacity: 0; 
}
input:checked + .slider .dark-mode {
    opacity: 1; 
    transition:0.4s;
}

.user-section{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    border-radius: 20px;
    padding: 10px;
}
.user-section:hover{
    background-color: #d3d3d3;
}

.user-logo{
    width: 30px;
    height: auto;
}

.user-item{
    text-align: left;
}

.welcome{
    font-weight: lighter;
    font-size: 10px;
}

.user-name{
    font-weight: bold;
    font-size: 15px;
}


.return-order-section{
    text-align: left;
}

.return{
    font-weight: lighter;
    font-size: 10px;
}
.order{
    font-weight: bold;
    font-size: 15px;
}

.cart{
    width:34px;
    height:auto;
}


.under-navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-left: -10px;
}


.choice-list{
    display: flex;
    list-style-type: none;
    justify-content: left;
    font-weight: bold;
    font-size: 13px;
    gap: 15px;
}

.choice-list a{
    text-decoration: none;
    color:black;
}


.volume-list{
    display: flex;
    gap:10px;
    font-weight: bold;
    font-size: 13px;
    margin-right: 10px;
}

.volume-list li{
    list-style-type: none;
}
.volume-list a{
    text-decoration: none;
    color:black;
}
.volume-list .feedback{
    color:white
}

.volume-list .help{
    color:white;
}
.help, .feedback{
    background-color: blue;
    padding: 5px;
    border-radius: 20px;
}

