.product-public-container{
    display: flex;
    gap:20px;
}
.product-public-container li{
    list-style-type: none;
}

.public-wishlists-container{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    width: 80%;
}
.public-wishlist-item{
    display: flex;
    justify-content: space-between;
}
.name-and-view{
    align-self: center;
   
}
.filter-and-body{
    display: flex;
}
.view-wishlist-link{
    color: black;
    opacity: 50%;
    
}

.product-detail-detail-list{
    display: flex;
    list-style-type: none;
}